html {
    font-size: 10px;
}

nav {
    font-size: 1.4rem;
}

nav i {
    font-size: 4rem;
}

section {
    font-size: 1.4rem;
}

footer {
    background-color: #444;
}

footer i {
    color: #fff;
    font-size: 2.5rem;
}


/* test */
.test-content {
    height: 10rem;
}
